<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
</head>
<style>
    body {
        margin: 0px;
        font-family:Microsoft JhengHei;
    }
    h1 {
        margin: 0px;
        height: 3em;
        background-color: burlywood;
        text-align: center;
        line-height: 100px;
    }
    form {
        margin: 20px auto 20px auto;
        border: 1px solid;
        width: 300px;
        height: 280px;
        text-align: center;
    }
</style>

<body>
    <h1>歡迎光臨，請註冊登入系統</h1>
    <form action="/signup" method="post">
        <h2>註冊帳號</h2>
        <p>姓名
            <input type="text" name="name">
        </p>
        <p>帳號
            <input type="text" name="username">
        </p>
        <p>密碼
            <input type="password" name="password">
        </p>
            <input type="submit" value="註冊" name="signup">
        <p style="color: red;">{{Sys_message}}</p>
    </form>

    <form action="/signin" method="post">
        <h2>登入系統</h2>
        <p>帳號
            <input type="text" name="memeber_username">
        </p>
        <p>密碼
            <input type="password" name="member_password">
        </p>
            <input type="submit" value="登入">
    </form>

</body>
</html>