<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_success</title>
</head>

<style>
    body{
        margin: 0px;
        font-family:Microsoft JhengHei;
    }
    h1 {
        margin: 0px;
        height: 3em;
        background-color: burlywood;
        text-align: center;
        line-height: 100px;
    }
    article{
        width: 300px;
        height: 200px;
        margin: 20px auto auto auto;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
    }
</style>

<body>
    <h1>歡迎光臨，這是會員頁</h1>
    <main>
    <article>
    <h2>{{name}}，歡迎登入系統</h2>
    <h2><a href="/signout">登出系統</a></h2> 
    </article>
    </main>
</body>

</html>